main {
  #logo {
    margin-top: 110px;
    margin-bottom: 150px;
    .carousel {
      position: relative;
      margin:0px -30px 0px -10px;
      // .left {
      //   @include pos-3tion-elem1nt(50%, -7%, 0%, -75%);
      // }
      // .right {
      //   @include position-element-right(50%, -7%, 0%, -75%);
      //   img {
      //     transform: rotate(180deg);
      //   }
      // }
      .carousel__images {
        // margin-bottom: 40px;
        // display: flex;
        .slick-prev{
          @include position-element(50%, -7%, 0%, -75%);
          transition: .4s ease;
          border-radius: 100%;

          &:hover{
            box-shadow: 0px 8px 20px #00000029;
          }
        }
        .slick-next{
          transition: .4s ease;
          border-radius: 100%;
          @include position-element-right(30%, -7%, 0%, 0%);
          transform: rotate(180deg);
          &:hover{
            box-shadow: 0px -8px 20px #00000029;
          }
        }
        .carousel__img {
          width: 100%;
          height: 175px;
          background-color: #bbbbbc;
          margin:0px 10px;
        }
        .slick-dots {
          margin-top: 40px;
          display: flex;
          justify-content: center;
          li {
            width: 12px;
            height: 12px;
            margin-right: 4px;
            border-radius: 100%;
            background-color: #bbbbbc;
            button {
              display: none;
            }
          }
          li.slick-active {
            background-color: #000;
            width: 20px;
            border-radius: 6px;
          }
        }
      }
    }
  }
  #news {
    background-color: #fff;
    margin-bottom: 150px;
    .h2__block {
      margin-bottom: 166px;
    }
    .articles {
      display: flex;
      justify-content: center;
      .news__article {
        background-color: rgba($color: #545c62, $alpha: 0.08);

        border-radius: 10px;
        &:nth-of-type(2) {
          margin: 0px 32px;
        }
        .article__img {
          position: relative;
          top: -120px;
          box-shadow: 0px 8px 20px #00000029;
          background-color: #bbbbbc;
          width: 94%;

          height: 240px;
          border-radius: 20px;
          margin: 0px auto;
        }
        .article__date-time {
          width: 80%;
          font-size: 16px;
          opacity: 0.5;
          display: flex;
          align-items: center;
          margin: 22px auto;
          margin-top: -98px;
          .article__date-time-line {
            height: 15px;
            width: 1px;
            margin: 0px 7px;
            background-color: red;
          }
        }
        .article__desc {
          width: 80%;
          margin: auto;
          font-size: 26px;
          font-weight: 600;
          margin-bottom: 32px;
          line-height: 1.4;
        }
        .article__button {
          width: 80%;
          margin: 0px auto;
          padding: 10px 0px;
          margin-bottom: 32px;
          border: 2px solid #000;
          background-color: transparent;
          .article__button-link {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 20px;
            display: flex;
            justify-content: center;
          }
        }
      }
    }
  }

  #about {
    padding: 100px 0px;
    background-color: rgba($color: #dde1e2, $alpha: 0.7);
    position: relative;
    min-height: 60vh;
    .about__text {
      top: 50%;
    }
    .about__img {
      width: 50%;
      margin-left: auto;
      .img {
        width: 540px;
        height: 540px;
        margin-left: auto;
        border-radius: 9px;
        background-color: #dde1e2;
      }
    }
  }
}
